global:
  # How often Prometheus scrapes metrics from all targets.
  scrape_interval: 15s  

  # Max amount of time Prometheus waits for a target to reply.
  scrape_timeout: 10s      

  # How often rule evaluations (alerts, recording rules) run.
  evaluation_interval: 15s 

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]
  - job_name: "airflow-statsd"
    metrics_path: /metrics
    static_configs:
      - targets: ["statsd-exporter:9102"]
        labels:
          service: "airflow"  # Helpful grouping label for PromQL/Grafana
    relabel_configs:
      - source_labels: [__name__]
        regex: "(.+)"
        target_label: "__name__"
        replacement: "${1}"
        action: replace
  - job_name: "cadvisor"
    metrics_path: /metrics
    static_configs:
      - targets: ["cadvisor:8080"]
        labels:
          service: "containers"   # Useful in Grafana templates
